<div class="cxi-form bg-white col-8 mg-b-10">
  <app-et-basic-info-bar [basicInfo]="transactionInfo"></app-et-basic-info-bar>
</div>

<div class="cxi-form bg-white col-8 mg-b-10">
  <app-cxi-validation-message-form
    *ngIf="
      primaryInvestorDetailValidationTurnOn && primaryInvestorDetailValidation
    "
    [messageObject]="primaryInvestorDetailValidation"
    [messageFormGroup]="primaryInvestorDetailFormGroup"
  >
  </app-cxi-validation-message-form>
  <app-cxi-individual-form
    #individualFB
    (validationMessageEmit)="handleValidationEmitter($event)"
    (formGroupEmit)="handleFormGroupEmitter($event)"
  ></app-cxi-individual-form>
</div>

<div class="cxi-form bg-white col-8 mg-b-10">
  <div class="cxi-form-group">
    <h5>
      Beneficial Holders (OPTIONAL)
      <i class="fas fa-chevron-down form-control" aria-label="expend form"></i>
    </h5>
    <div class="col-12 mg-b-10">
      <button
        mat-raised-button
        color="primary"
        class="pull-left"
        (click)="openDialog()"
      >
        ADD NEW BENEFICIAL HOLDER
      </button>
    </div>
    <div class="col-12">
      <table
        mat-table
        [dataSource]="dataSource"
        class="cxi-full-width mat-table-border"
      >
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dob | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fullAddress">
          <th mat-header-cell *matHeaderCellDef>Resident Address</th>
          <td mat-cell *matCellDef="let element">{{ element.fullAddress }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="isVerified">
          <th mat-header-cell *matHeaderCellDef>AML Verified</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="cxi-aml-label "
              [ngClass]="{
                valid: element.isVerified,
                invalid: !element.isVerified
              }"
            >
              <i
                class="fa fa-user-check"
                aria-label="user verified"
                *ngIf="element.isVerified"
              ></i>
              <i
                class="fas fa-user-times"
                aria-label="user not verified"
                *ngIf="!element.isVerified"
              ></i>
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="mat-table-action">
            <i class="far fa-edit pointer"></i>
            <i class="fas fa-user-minus pointer"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>

<div class="cxi-form-action col-8">
  <button
    mat-raised-button
    color="primary"
    class="pull-right"
    (click)="navigateToBankingDetail()"
  >
    Navigate to Bank Detail
  </button>
  <button mat-button class="pull-right">Save and Exit</button>
</div>
