<div class="cxi-dashboard-container">
  <div style="margin-right:20px;">
    <div class="cxi-dashboard-sm-card" style="background: rgba(255,152,0 ,1)">
      <div class="card-title">
        <span>Weekly Incomes</span>
      </div>
      <div class="card-body">
        <span>$ 14,240.00</span>
        <span class="sm"
          ><i class="fas fa-chart-line"></i>&nbsp; 16% higher</span
        >
      </div>
    </div>
    <div class="cxi-dashboard-sm-card" style="background: rgba(0,137,123 ,1)">
      <div class="card-title">
        <span>Weekly Applications</span>
      </div>
      <div class="card-body">
        <span>12</span>
        <span class="sm"
          ><i class="fas fa-chart-line"></i>&nbsp; 50% higher</span
        >
      </div>
    </div>

    <div class="cxi-dashboard-sm-card" style="background: rgba(255,87,34 ,1)">
      <div class="card-title">
        <span>Weekly Redemptions</span>
      </div>
      <div class="card-body">
        <span>4</span>
        <span class="sm"
          ><i class="fas fa-chart-line"></i>&nbsp; 100% lower</span
        >
      </div>
    </div>
  </div>

  <div class="cxi-dashboard-card" style="min-width:600px;width:50%;">
    <div class="card-title">
      <span>Recent Unitprice</span
      ><span class="actions"><i>7D</i><i>1M</i><i>3M</i><i>6M</i></span>
    </div>
    <app-line-chart></app-line-chart>
  </div>
</div>
