<div class="cxi-form bg-white mg-b-10 pull-left">
  <app-cxi-company-form></app-cxi-company-form>
</div>

<div class="cxi-form bg-white  mg-b-10 pull-left">
  <div class="cxi-form-group">
    <h5>
      company Beneficial OWNERS / Controlling Person
      <i class="fas fa-chevron-down form-control" aria-label="expend form"></i>
    </h5>
    <div class="col-12 mg-b-10">
      <button
        mat-raised-button
        color="primary"
        class="pull-left"
        (click)="openDialog()"
      >
        ADD NEW BENEFICIAL OWNER / CONTROLLING PERSON
      </button>
    </div>
    <div class="col-12">
      <table
        mat-table
        [dataSource]="dataSource"
        class="cxi-full-width mat-table-border"
      >
        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dob | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fullAddress">
          <th mat-header-cell *matHeaderCellDef>Resident Address</th>
          <td mat-cell *matCellDef="let element">{{ element.fullAddress }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="isVerified">
          <th mat-header-cell *matHeaderCellDef>AML Verified</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="cxi-aml-label "
              [ngClass]="{
                valid: element.isVerified,
                invalid: !element.isVerified
              }"
            >
              <i
                class="fa fa-user-check"
                aria-label="user verified"
                *ngIf="element.isVerified"
              ></i>
              <i
                class="fas fa-user-times"
                aria-label="user not verified"
                *ngIf="!element.isVerified"
              ></i>
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="mat-table-action">
            <i class="far fa-edit pointer"></i>
            <i class="fas fa-user-minus pointer"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>

<div class="cxi-form bg-white mg-b-10 pull-left">
  <div class="cxi-form-group">
    <h5>
      company Directors
      <i class="fas fa-chevron-down form-control" aria-label="expend form"></i>
    </h5>
    <div class="col-12 mg-b-10">
      <button
        mat-raised-button
        color="primary"
        class="pull-left"
        (click)="openDialog()"
      >
        ADD NEW DIRECTOR
      </button>
    </div>
    <div class="col-12">
      <table
        mat-table
        [dataSource]="dataSource"
        class="cxi-full-width mat-table-border"
      >
        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dob | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fullAddress">
          <th mat-header-cell *matHeaderCellDef>Resident Address</th>
          <td mat-cell *matCellDef="let element">{{ element.fullAddress }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="isVerified">
          <th mat-header-cell *matHeaderCellDef>AML Verified</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="cxi-aml-label "
              [ngClass]="{
                valid: element.isVerified,
                invalid: !element.isVerified
              }"
            >
              <i
                class="fa fa-user-check"
                aria-label="user verified"
                *ngIf="element.isVerified"
              ></i>
              <i
                class="fas fa-user-times"
                aria-label="user not verified"
                *ngIf="!element.isVerified"
              ></i>
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="mat-table-action">
            <i class="far fa-edit pointer"></i>
            <i class="fas fa-user-minus pointer"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>

<div class="col-12 ">
  <button
    mat-raised-button
    color="primary"
    class="pull-right"
    (click)="closeModal()"
  >
    Save
  </button>
  <button mat-button class="pull-right" (click)="closeModal()">
    Discard
  </button>
</div>
