<div class="component-container" >
    <div class="component-action">
        <input type="text" placeholder="write your name here" [(ngModel)]="name">
        <button type="button" id="submitName" (click)="submitted = true">Submit</button>
    </div>
    <ng-container *ngIf="submitted">
        <h5 class="component-h5" >
            Hi {{ name }}, Welcome to Green ID (demo for cxi).
        </h5>
        <p class="component-p" >
            Please click below button to verify yourself.
        </p>
        <button type="button" id="verifyName" (click)="validateFn()">Verify</button>
    </ng-container>
    
</div>


